.show-option-container
  display flex
  flex-direction row
  padding-top 50px

.select-option-container
  list-style none
  margin 0

.select-option
  align-items center
  background-color #fff
  border solid 1px #eeeeee
  box-shadow 1px 3px 7px rgba(0, 0, 0, .05)
  color #9b9b9b
  display flex
  cursor pointer
  height 82px
  padding-left 15px
  transition all .1s linear
  width 278px

  &.active,
  &:hover
    background-color #000
    color #fff

//.info-selected-option-container
  //height 410px

.info-selected-option
  display none
  max-height 100%
  overflow-y auto

  &.active
    display block
    padding 0 30px

@media screen and (max-width 786px)
  .show-option-container
    flex-direction column

  .select-option-container
    margin 0 auto
    padding-left 0

  .select-option
    height 50px

  .info-selected-option-container
    margin-top 30px
