.cover-carousel
  padding-right 117px

  &-container
    position relative

.home
  &-cover
    background-image url("../img/backgrounds/home-carousel-1.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    flex-direction column
    height 589px
    justify-content center
    padding-left 145px
    position relative
    width 100%
    
    &-decorator
      background-color $dGrayBackg
      height 365px
      position absolute
      right 0
      top 0
      width 200px

    &-title
      color $dWhite
      font-size $font45
      letter-spacing 0.3px

    &-description
      color $dWhite
      font-size $font16
      letter-spacing 1.2px
      line-height 29px
      
      &-container
        margin 40px 0
        max-width 420px

  &-view-more-text
    color $dRedText
    font-size $font10
    letter-spacing 2.5px
    margin-right 10px
    text-transform uppercase

    &-container
      align-items center
      bottom 130px
      display flex
      flex-direction row
      position absolute
      right -14px
      transform rotate(90deg)

  &-products
    background-image url("../img/backgrounds/home-products-bg.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    padding 150px 0 250px 0

    &-info
      display flex
      flex-direction row
      padding-left 130px

    &-card
      background-position center
      background-repeat no-repeat
      background-size contain
      height 257px
      width 305px
      align-items center
      display flex
      flex-direction column
      justify-content center
      transition all 0.5s

      &:hover
        cursor pointer
        transform scale(0.8)
        transition all 0.5s

      &.papper
        background-image url("../img/home/papper.jpg")

      &.packing
        background-image url("../img/home/packing.jpg")

      &.specialties
        background-image url("../img/home/specialties.jpg")

      &.metallic
        background-image url("../img/home/metallic.jpg")

    &-icon
      height 62px

      &.papper-i
        width 62px !important

      &.packing-i
        width 48.8px !important

      &.specialties-i
        width 61px !important

      &.metallic-i
        width 60px !important

    &-category
      color $dWhite
      font-size $font13
      letter-spacing 1.1px
      line-height 22px
      margin-top 30px
      text-align center
      text-transform uppercase

  &-why-dimsa
    background-image url("../img/backgrounds/why-dimsa.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    flex-direction column
    height 390px
    justify-content center
    margin-top -50px
    padding-left 164px
    text-transform uppercase
    width 90%

    &-title
      color $dRedText
      font-size $font21
      letter-spacing 3.1px
      text-transform i

    &-description
      color $dWhite
      font-size $font20
      letter-spacing 2.6px
      line-height 35px

      &-container
        margin 23px 0
        max-width 516px

  &-iso
    display flex
    flex-direction row
    justify-content center
    padding 75px 0

    &-logo
      height 139px
      width auto

    &-description
      color $dGrayInfo
      font-size $font35
      letter-spacing 2.6px
      line-height 43px
      text-transform uppercase

      &-container
        margin-left 54px

  &-design
    background-color $dGrayBackg
    display flex
    flex-direction row
    justify-content flex-end
    margin 0 0 173px 237px
    padding 80px 125px 69px 0
    position relative

    &-line
      left -190px
      position absolute
      top 173px
      transform rotate(90deg)

    &-title
      color $dRedText
      font-size $font13
      letter-spacing 1.9px
      line-height 29px
      text-transform uppercase

    &-right-container
      margin-left 39px
      max-width 350px

    &-description
      color $dGrayText
      font-size font16
      letter-spacing 1.2px
      line-height 29px

    &-decorator
      background-color $dRedText
      height 3px
      margin 42px 0
      width 28px

    &-img
      height 298px
      width 460px

      &-container
        bottom -85px
        left -104px
        position absolute

  &-footer
    align-items center
    background-color $dRedButton
    display flex
    height 146px
    justify-content center

    &-text-container,
    &-clients-container
      display flex
      flex-direction row

    &-separator
      background-color $dWhite
      height 26px
      margin 0 105px
      width 3px

    &-text
      color $dWhite
      font-size $font13
      text-transform uppercase

      &-container
        align-items center

    &-logo

      &-scribe
        height 32px

      &-peosa
        height 27px
        margin 0 105px

      &-pappel
        height 21px

@keyframes lineAnimated
  from
    opacity 0.3
    transform translateX(0px)

  to
    opacity 1
    transform none
    transform translateX(24px)
  
.line-animated
  background-color $dRedText
  height 2px
  width 40px
  animation-duration 1.7s
  animation-iteration-count infinite
  animation-name lineAnimated

  &-container
    background-color #e5b0b0
    height 2px
    position relative
    width 64px

.cover-carousel,
.products-carousel
  .owl-controls,
  .products-owl-controls
    .owl-nav
      .owl-prev,
      .owl-next
        background-color transparent

.cover-carousel,
.products-carousel
  .owl-controls,
  .products-owl-controls
    .owl-nav
      margin-top 0
      padding-left 130px
  
  &
    .owl-dots
      .owl-dot
        span
          background-color #d6d6d6
          height 2px
          width 24px

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
  background-color $dGraySelect

.owl-controls
  align-items center
  background-color $dGrayBackg
  bottom -66px
  display flex
  flex-direction row-reverse
  height 106px
  padding-right 50px
  position absolute
  width 540px

.products-owl-controls
  align-items center
  background-color transparent
  bottom -150px
  display flex
  flex-direction row-reverse
  height 106px
  left 300px
  padding-right 50px
  position absolute
  width 540px

.nav-arrows
  height 11px
  width 18px

.products-carousel
  .owl-nav.disabled,
  .owl-dots.disabled
    display block

@media screen and (max-width 786px)
  .cover-carousel
    padding-right 0

  .home
    &-cover
      height 360px
      padding 0 15px 0 45px

      &-title
        font-size remify(30px)

      &-description
        line-height 18px

    &-products
      padding 100px 0 140px 0

      &-info
        flex-direction column
        padding 0 45px

    &-view-more-text
      &-container
        bottom -2px
        left -45px
        right initial
        z-index 3

    &-why-dimsa
      height auto
      margin-top 0
      padding 30px 15px 30px 45px

      &-title
        font-size remify(17px)

      &-description
        font-size remify(16px)
        line-height 20px

    &-iso
      align-items center
      flex-direction column
      padding 50px 0 0px 0

      &-logo
        height 102px
        width 130px

      &-description
        font-size remify(30px)
        line-height 30px

        &-container
          margin-left 0
          padding 20px 30px 0 30px
          text-align center

    &-design
      flex-direction column
      margin 60px 0 0 0
      padding 0 20px 0 20px

      &-line
        left initial
        right 0
        top 210px

      &-right-container
        margin-left 0

      &-img
        height 175px
        width 270px

        &-container
          margin 30px auto
          position initial

    &-footer
      flex-direction column

      &-text-container
        align-items center
        flex-direction column

      &-separator
        height 3px
        margin 20px 0
        width 26px

      &-logo
        &-scribe
          height 22px

        &-peosa
          height 21px
          margin 0 25px

        &-pappel
          height 17px

  .products-owl-controls
    bottom -106px
    left 0
    padding-right 30px
    width 300px

  .owl-controls
    padding-right 30px
    width 300px

  .cover-carousel,
  .products-carousel
    .owl-controls,
    .products-owl-controls
      .owl-nav
        padding-left 30px

@media screen and (min-width 787px) and (max-width 1100px)
  .home-design-img
    height auto
    width 100%

    &-container
      bottom -80px
      left -180px
      margin-right 74%

@media screen and (min-width 787px) and (max-width 900px)
  .home-footer

    &-separator,
    &-logo-peosa
      margin 0 65px

@media screen and (min-width 787px) and (max-width 830px)
  .products-owl-controls
    left 210px
