{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Empaques alimenticios</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
        {% for packaging in packagings %}
          <a class="allproducts-scroll" href="#{{packaging.data}}">
            <li class="select-option allproducts-option {{packaging.active}}" data-section="{{packaging.data}}">
              <span>{{packaging.title}}</span>
            </li>
          </a>
        {% endfor %}
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Empaques alimenticios</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
        {% for packaging in packagings %}
          <a class="allproducts-scroll" href="#{{packaging.data}}">
            <li class="select-option allproducts-option {{packaging.active}}" data-section="{{packaging.data}}">
              <span>{{packaging.title}}</span>
            </li>
          </a>
          <div class="info-selected-option-container">
            <div class="{{packaging.data}} info-selected-option allproducts-content {{packaging.active}}" id="{{packaging.data}}">
              <div class="allproducts-info-container">
                <div class="allproducts-product-title-container">
                  <h2 class="allproducts-product-title">{{packaging.title}}</h2>
                </div>
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Características</h2>
                </div>
                {% for characteristic in packaging.characteristics %}
                <span class="allproducts-description">{{characteristic.characteristic}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Beneficios</h2>
                </div>
                {% for benefit in packaging.benefits %}
                <span class="allproducts-description">{{benefit.benefit}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Usos</h2>
                </div>
                {% for use in packaging.uses %}
                <span class="allproducts-description">{{use.use}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/packaging/{{packaging.image}}">
              </div>
            </div>
          </div>
        {% endfor %}
        </ul>
      </div>

      <div class="info-selected-option-container allproducts-desktop">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Empaques alimenticios</h1>
          <div class="red-decorator"></div>
        </div>
      {% for packaging in packagings %}
        <div class="{{packaging.data}} info-selected-option allproducts-content {{packaging.active}}" id="{{packaging.data}}">
          <div class="allproducts-info-container">
            <div class="allproducts-product-title-container">
              <h2 class="allproducts-product-title">{{packaging.title}}</h2>
            </div>
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Características</h2>
            </div>
            {% for characteristic in packaging.characteristics %}
            <span class="allproducts-description">{{characteristic.characteristic}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Beneficios</h2>
            </div>
            {% for benefit in packaging.benefits %}
            <span class="allproducts-description">{{benefit.benefit}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Usos</h2>
            </div>
            {% for use in packaging.uses %}
            <span class="allproducts-description">{{use.use}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/{{packaging.image}}">
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
