{% extends "partials/base.njk" %}

{% block meta %}
  <title>Empaques alimenticios</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="waxpaper">
            <span>papel encerado</span>
          </li>
          <li class="select-option allproducts-option" data-section="laminatedpaper">
            <span>papel laminado</span>
          </li>
          <li class="select-option allproducts-option" data-section="thermalwrapping">
            <span>papel envoltura térmica para comida</span>
          </li>
          <li class="select-option allproducts-option" data-section="paperboardlayette">
            <span>charolas/canastillas de cartón para comida</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedlayette">
            <span>Charola metalizada para pescado o pasteleras</span>
          </li>
          <li class="select-option allproducts-option" data-section="lids">
            <span>lids</span>
          </li>
          <li class="select-option allproducts-option" data-section="teapaper">
            <span>papel filtro para té</span>
          </li>
          <li class="select-option allproducts-option" data-section="laminatedcartons">
            <span>cartones laminados (vasos, refrigeración, congelación)</span>
          </li>
          <li class="select-option allproducts-option" data-section="antigreasepaper">
            <span>papeles antigrasa</span>
          </li>
          <li class="select-option allproducts-option" data-section="slipsheets">
            <span>slip sheets</span>
          </li>
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Empaques alimenticios</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container allproducts-carousel owl-carousel helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="waxpaper">
            <span>papel encerado</span>
          </li>
          <li class="select-option allproducts-option" data-section="laminatedpaper">
            <span>papel laminado</span>
          </li>
          <li class="select-option allproducts-option" data-section="thermalwrapping">
            <span>papel envoltura térmica para comida</span>
          </li>
          <li class="select-option allproducts-option" data-section="paperboardlayette">
            <span>charolas/canastillas de cartón para comida</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedlayette">
            <span>Charola metalizada para pescado o pasteleras</span>
          </li>
          <li class="select-option allproducts-option" data-section="lids">
            <span>lids</span>
          </li>
          <li class="select-option allproducts-option" data-section="teapaper">
            <span>papel filtro para té</span>
          </li>
          <li class="select-option allproducts-option" data-section="laminatedcartons">
            <span>cartones laminados (vasos, refrigeración, congelación)</span>
          </li>
          <li class="select-option allproducts-option" data-section="antigreasepaper">
            <span>papeles antigrasa</span>
          </li>
          <li class="select-option allproducts-option" data-section="slipsheets">
            <span>slip sheets</span>
          </li>
        </ul>
      </div>

      <div class="info-selected-option-container">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Empaques alimenticios</h1>
          <div class="red-decorator"></div>
        </div>
        <div class="waxpaper info-selected-option allproducts-content active">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Separadores o envoltura de alimentos.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Es resistente a la grasa y a la humedad y es resiclable.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Se utiizan papeles Bond de 30 a 75 grs y se aplica una cera.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/paper-bond.jpg">
          </div>
        </div>
        <div class="laminatedpaper info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Envoltura para ensobretar polvos, para empacar gasas, colorantes.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Son papeles de 30 hasta 120 grs y una capa de polietileno de baja densidad.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/paper-kraft.jpg">
          </div>
        </div>
        <div class="thermalwrapping info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Envoltura para hamburguesa o hot dog.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel FDA, material con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Papel de 30 grs laminado con foil de aluminio de 6 micas.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/thermal-wrapping.jpg">
          </div>
        </div>
        <div class="paperboardlayette info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Charola para comida rápida.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Sustituyen a las charolas de polietireno.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">-_-</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/paper-medium.jpg">
          </div>
        </div>
        <div class="metallizedlayette info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Charola para porcionados de pescado o bases para pasteles.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">La charola tiene rigidez y diferentes tamaños de acuerdo a la porcion que se va a empacar y diferentes tipos de presentacion: oro/plata o plata/plata.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Compuesta de 2 cartulinas de 18 puntos y lleva ambas caras con poliester metalizado una de color oro y otra de color plata.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/metallized-layette.jpg">
          </div>
        </div>
        <div class="lids info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Tapas pelables a base de un couche con laminacion de polietileno.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">El polietileno con el que se lamina es DSA y el laminado es compatible para sellado con poliestireno espumado y rigido.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">A base de un couche de 70-100 gramos lleva polietileno con ahitivo termosellante.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/paper-polibond.jpg">
          </div>
        </div>
        <div class="teapaper info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Sobre para infusiones.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Se entregan bobinas de ancho pequeño al diámetro requerido.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Se utiliza un papel filtro de 19 a 20 grs y es sellable una cara.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/tea-paper.jpg">
          </div>
        </div>
        <div class="laminatedcartons info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Caja plegadiza, productos de refrigeracion y congelamiento, carton para formado de vasos.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión. Especialmente para productos que van a congelacion o refrigeracion.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Cartones de calibres desde 10 hasta 28 puntos pueden ser cartulinas sulfatadas o SBS, caples, multicapas y liners llevan una laminacion con polietileno por 1 o por ambas caras.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/laminated-cartons.jpg">
          </div>
        </div>
        <div class="antigreasepaper info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Papel de envoltura para mantequillas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Es resistente a la grasa y a la humedad, es reciclable.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Papeles de 40 gramos y tienen un kit 7.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/paper-polipet.jpg">
          </div>
        </div>
        <div class="slipsheets info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Tarimas deslisables.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Sustituyen a una tarima de madera.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Un Papel Linnner de 275 y un poliester transparente de 23 micras.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/packaging/paper-polipet.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
