{% extends "partials/base.njk" %}

{% block meta %}
  <title>Especialidades</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="cardboardstructures">
            <span>estructuras de cartón de alta resistencia</span>
          </li>
          <li class="select-option allproducts-option" data-section="laminatedcartonstwo">
            <span>cartones laminados por dos caras (Partition)</span>
          </li>
          <li class="select-option allproducts-option" data-section="cartonscloth">
            <span>cartones con tela (nonwoven)</span>
          </li>
          <li class="select-option allproducts-option" data-section="soliconepaper">
            <span>papeles siliconados</span>
          </li>
          <li class="select-option allproducts-option" data-section="slippaper">
            <span>papel antideslizante</span>
          </li>
          <li class="select-option allproducts-option" data-section="reinforcedlaminations">
            <span>laminaciones reforzadas con rafia</span>
          </li>
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Especialidades</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container allproducts-carousel owl-carousel helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="cardboardstructures">
            <span>estructuras de cartón de alta resistencia</span>
          </li>
          <li class="select-option allproducts-option" data-section="laminatedcartonstwo">
            <span>cartones laminados por dos caras (Partition)</span>
          </li>
          <li class="select-option allproducts-option" data-section="cartonscloth">
            <span>cartones con tela (nonwoven)</span>
          </li>
          <li class="select-option allproducts-option" data-section="soliconepaper">
            <span>papeles siliconados</span>
          </li>
          <li class="select-option allproducts-option" data-section="slippaper">
            <span>papel antideslizante</span>
          </li>
          <li class="select-option allproducts-option" data-section="reinforcedlaminations">
            <span>laminaciones reforzadas con rafia</span>
          </li>
        </ul>
      </div>

      <div class="info-selected-option-container">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Especialidades</h1>
          <div class="red-decorator"></div>
        </div>
        <div class="cardboardstructures info-selected-option allproducts-content active">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Divisores.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">** Sin info **</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">** Sin info **</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/specialties/cardboard-structures.jpg">
          </div>
        </div>
        <div class="laminatedcartonstwo info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Para caja plegadiza de producto alimenticio, divisores para frascos de vidrio.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Resistente al congelamiento.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Se fabrica con cartones de 22 puntos a 40 puntos.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/specialties/laminated-cartonstwo.jpg">
          </div>
        </div>
        <div class="cartonscloth info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Divisores para frascos de vidrio.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Es conductivo.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Se fabrican con 40 puntos impreso plaza negra.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/specialties/cartons-cloth.jpg">
          </div>
        </div>
        <div class="soliconepaper info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Papeles reliz papel que protege el adhesivo.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Le da propiedades antihaderentes el silicón. Pueden ser siliconados a 1 o 2 caras.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Papel de 67 gramos por 1 y dos caras siliconado.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/specialties/silicone-paper.jpg">
          </div>
        </div>
        <div class="slippaper info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Separadores para evitar el movimiento de cajas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Son laminaciones con polietileno mezcladas con adhitivo anti deslizante.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Papel de 100 gramos laminado con adhitivo antideslizante.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/specialties/slip-paper.jpg">
          </div>
        </div>
        <div class="reinforcedlaminations info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Material de empaque y embalaje.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">La rafia es de polietileno y el laminado les da alta resistencia a la tensión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Laminaciones con diversos sustratos con rafia de polietileno de 58 gramos.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/specialties/reinforced-laminations.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
