{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Homepage</title>
{% endblock %}

{% block content %}
  <div id="home-container">
    <div class="cover-carousel-container">
      <div class="home-cover-decorator"></div>
      <div class="cover-carousel owl-carousel owl-theme">
        <div class="home-cover cover-one helvetica-neue-bold">
          <h1 class="home-cover-title">Fabricamos soluciones<br>de empaque</h1>
          <div class="home-cover-description-container">
            <p class="home-cover-description helvetica-neue-medium">
              Nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque
            </p>
          </div>
          <div>
            <a href="productos.html">
              <button class="dimsa-button">ver productos</button>
            </a>
          </div>
        </div>
        <div class="home-cover cover-two helvetica-neue-bold">
          <h1 class="home-cover-title">Fabricamos soluciones<br>de empaque</h1>
          <div class="home-cover-description-container">
            <p class="home-cover-description helvetica-neue-medium">
              Nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque
            </p>
          </div>
          <a href="productos.html">
            <button class="dimsa-button">ver productos</button>
          </a>
        </div>
        <div class="home-cover cover-three helvetica-neue-bold">
          <h1 class="home-cover-title">Fabricamos soluciones<br>de empaque</h1>
          <div class="home-cover-description-container">
            <p class="home-cover-description helvetica-neue-medium">
              Nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque
            </p>
          </div>
          <a href="productos.html">
            <button class="dimsa-button">ver productos</button>
          </a>
        </div>
      </div>
      <div class="home-view-more-text-container">
        <span class="home-view-more-text helvetica-neue-bold">ver más</span>
        <div class="line-animated-container">
          <div class="line-animated"></div>
        </div>
      </div>
    </div>

    <div class="home-products">
      <div class="home-products-info">
        <div>
          <h1 class="red-subtitle helvetica-neue-bold">productos</h1>
        </div>
        <div class="home-design-right-container">
          <p class="site-paragraph helvetica-neue-medium">
            Comprometidos no sólo con nuestros clientes directos, sino también con los consumidores finales de nuestros productos
          </p>
          <div class="red-decorator"></div>
        </div>
      </div>
      <div class="products-carousel owl-carousel owl-theme helvetica-neue-medium">
        <a href="papeles.html">
          <div class="home-products-card papper">
            <div>
              <img class="home-products-icon papper-i" src="img/icons/icon-papper.png">
            </div>
            <span class="home-products-category">papeles y películas<br>laminadas</span>
          </div>
        </a>
        <a href="empaques.html">
          <div class="home-products-card packing">
            <div>
              <img class="home-products-icon packing-i" src="img/icons/icon-packing.png">
            </div>
            <span class="home-products-category">empaques<br>alimenticios</span>
          </div>
        </a>
        <a href="especialidades.html">
          <div class="home-products-card specialties">
            <div>
              <img class="home-products-icon specialties-i" src="img/icons/icon-specialties.png">
            </div>
            <span class="home-products-category">especialidades</span>
          </div>
        </a>
        <a href="metalizados.html">
          <div class="home-products-card metallic">
            <div>
              <img class="home-products-icon metallic-i" src="img/icons/icon-metallic.png">
            </div>
            <span class="home-products-category">metalizados</span>
          </div>
        </a>
        <a href="laminaciones.html">
          <div class="home-products-card aluminum">
            <div>
              <img class="home-products-icon aluminum-i" src="img/icons/icon-aluminum.png">
            </div>
            <span class="home-products-category">laminaciones con<br>aluminio</span>
          </div>
        </a>
      </div>
    </div>

    <div class="home-why-dimsa">
      <h1 class="home-why-dimsa-title">¿Por qué dimsa?</h1>
      <div class="home-why-dimsa-description-container">
        <p class="home-why-dimsa-description helvetica-neue-bold">
          Integramos diversos procesos de transformación con el fin de satisfacer mercados que requieran empaques flexibles de alta calidad.
        </p>
      </div>
      <a href="nosotros.html">
        <button class="dimsa-button helvetica-neue-bold">conoce más</button>
      </a>
    </div>

    <div class="home-iso">
      <img class="home-iso-logo animated" src="img/logos/iso-9001.png">
      <div class="home-iso-description-container">
        <span class="home-iso-description helvetica-neue-bold show-hide">contamos<br>con certificación<br>iso9001</span>
        <span class="home-iso-description helvetica-neue-bold hide-show">contamos con certificación iso9001</span>
      </div>
    </div>

    <div class="home-design">
      <div class="home-design-line">
        <div class="line-animated-container">
          <div class="line-animated"></div>
        </div>
      </div>
      <div>
        <h1 class="red-subtitle helvetica-neue-bold">diseña tu empaque</h1>
      </div>
      <div class="home-design-right-container">
        <p class="site-paragraph helvetica-neue-medium">
          Nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque, desarrollando nuevos productos a la medida de cada cliente.
        </p>
        <div class="red-decorator"></div>
        <a href="contacto.html">
          <button class="dimsa-button helvetica-neue-bold">más información</button>
        </a>
      </div>
      <div class="home-design-img-container animated">
        <img class="home-design-img" src="img/home/dimsa-info.jpg">
      </div>
    </div>

    <div class="home-footer">
      <div class="home-footer-text-container">
        <span class="home-footer-text helvetica-neue-bold">clientes principales</span>
        <div class="home-footer-separator"></div>
      </div>
      <div class="home-footer-clients-container">
        <div class="home-footer-logo-scribe-container">
          <img class="home-footer-logo-scribe" src="img/logos/scribe.png">
        </div>
        <div class="home-footer-logo-peosa-container">
          <img class="home-footer-logo-peosa" src="img/logos/grupo-peosa.png">
        </div>
        <div class="home-footer-logo-pappel-container">
          <img class="home-footer-logo-pappel" src="img/logos/bio-pappel.png">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
