{% extends "partials/base.njk" %}

{% block meta %}
  <title>Metalizados</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="metaliccardborads">
            <span>cartulinas metalizadas</span>
          </li>
          <li class="select-option allproducts-option" data-section="holographiccardborads">
            <span>cartulinas holográficas</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedpapers">
            <span>papeles metalizados</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedselfadhesive">
            <span>autoadheribles metalizados</span>
          </li>
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Metalizados</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container allproducts-carousel owl-carousel helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="metaliccardborads">
            <span>cartulinas metalizadas</span>
          </li>
          <li class="select-option allproducts-option" data-section="holographiccardborads">
            <span>cartulinas holográficas</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedpapers">
            <span>papeles metalizados</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedselfadhesive">
            <span>autoadheribles metalizados</span>
          </li>
        </ul>
      </div>

      <div class="info-selected-option-container">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Papeles y películas laminadas</h1>
          <div class="red-decorator"></div>
        </div>
        <div class="metaliccardborads info-selected-option allproducts-content active">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Papel para impresión, papel para empaque, plotter, laminación, impresión y corte.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, es imprimible, buena blancura, buena pacidad.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Desde 30grs hasta 120grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-cardboards.jpg">
          </div>
        </div>
        <div class="holographiccardborads info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Utilizado para empaque, separadores, embalaje.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, material con encolado, resistente a la humedad se puede entregar en bobina u hojas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">desde 32 grs hasta 90 y 130 gr.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/holographic-cardboards.jpg">
          </div>
        </div>
        <div class="metallizedpapers info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Separadores y divisores para circuitos electronicos.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, material con encolado, resistente a la humedad, se puede entregar en bobina u hojas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">desde 140 grs hasta 500 grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-papers.jpg">
          </div>
        </div>
        <div class="metallizedselfadhesive info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Materiales para separadores.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, se entrega en bobina u hoja.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">desde 100 grs hasta 700 grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/metallized selfadhesive.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
