{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Metalizados</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="metaliccardborads">
            <span>cartulinas metalizadas</span>
          </li>
          <li class="select-option allproducts-option" data-section="holographiccardborads">
            <span>cartulinas holográficas</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedpapers">
            <span>papeles metalizados</span>
          </li>
          <li class="select-option allproducts-option" data-section="metallizedselfadhesive">
            <span>autoadheribles metalizados</span>
          </li>
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Metalizados</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="metaliccardborads">
            <span>cartulinas metalizadas</span>
          </li>
          <div class="info-selected-option-container">
            <div class="metaliccardborads info-selected-option allproducts-content active">
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
                </div>
                <span class="allproducts-description">Uso para caja plegadiza.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
                </div>
                <span class="allproducts-description">Se puede laminar cualquier tipo de cartón de 10 hasta 28 puntos. El poliéster metalizado utilizado cuenta con tratamiento químico que garantiza una atención superficial de 44 dinas.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Características</h2>
                </div>
                <span class="allproducts-description">Están compuestas de caples de SBS y cartones multicapas desde calibre 10 hasta calibre 28.</span>
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-cardboards.jpg">
              </div>
            </div>
          </div>
          <li class="select-option allproducts-option" data-section="holographiccardborads">
            <span>cartulinas holográficas</span>
          </li>
          <div class="info-selected-option-container">
            <div class="holographiccardborads info-selected-option allproducts-content">
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
                </div>
                <span class="allproducts-description">Cajas plegadizas.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
                </div>
                <span class="allproducts-description">Se puede laminar cualquier tipo de cartón de 10 hasta 28 puntos el poliéster metalizado utilizado cuenta con un tratamiento químico que garantiza una atención superficial de 44 dinas. Sin línea de GAP.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Características</h2>
                </div>
                <span class="allproducts-description">Está compuesto por caples sbs multicapas y llevan un poliéster metalizado de tratamiento químico.</span>
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/metallizeds/holographic-cardboards.jpg">
              </div>
            </div>
          </div>
          <li class="select-option allproducts-option" data-section="metallizedpapers">
            <span>papeles metalizados</span>
          </li>
          <div class="info-selected-option-container">
            <div class="metallizedpapers info-selected-option allproducts-content">
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
                </div>
                <span class="allproducts-description">Papel para envoltura de regalo.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
                </div>
                <span class="allproducts-description">Se puede laminar cualquier tipo de cartón de 10 hasta 28 puntos. El poliéster metalizado utilizado cuenta con tratamiento químico que garantiza una atención superficial de 44 dinas.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Características</h2>
                </div>
                <span class="allproducts-description">Está hecho por un papel de 38g más polietileno más poliéster metalizado.</span>
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-papers.jpg">
              </div>
            </div>
          </div>
          <li class="select-option allproducts-option" data-section="metallizedselfadhesive">
            <span>autoadheribles metalizados</span>
          </li>
          <div class="info-selected-option-container">
            <div class="metallizedselfadhesive info-selected-option allproducts-content">
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
                </div>
                <span class="allproducts-description">Su uso es para envases que están sometidos a la humedad o a la intemperie.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
                </div>
                <span class="allproducts-description">Poliéster utilizado con tratamiento químico y el holograma utilizados con tratamiento corona.</span>
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Características</h2>
                </div>
                <span class="allproducts-description">Están compuestas por papel couché o BOPP.</span>
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-selfadhesive.jpg">
              </div>
            </div>
          </div>
        </ul>
      </div>

      <div class="info-selected-option-container allproducts-desktop">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Papeles y películas laminadas</h1>
          <div class="red-decorator"></div>
        </div>
        <div class="metaliccardborads info-selected-option allproducts-content active">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Uso para caja plegadiza.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Se puede laminar cualquier tipo de cartón de 10 hasta 28 puntos. El poliéster metalizado utilizado cuenta con tratamiento químico que garantiza una atención superficial de 44 dinas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Están compuestas de caples de SBS y cartones multicapas desde calibre 10 hasta calibre 28.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-cardboards.jpg">
          </div>
        </div>
        <div class="holographiccardborads info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Cajas plegadizas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Se puede laminar cualquier tipo de cartón de 10 hasta 28 puntos el poliéster metalizado utilizado cuenta con un tratamiento químico que garantiza una atención superficial de 44 dinas. Sin línea de GAP.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Está compuesto por caples sbs multicapas y llevan un poliéster metalizado de tratamiento químico.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/holographic-cardboards.jpg">
          </div>
        </div>
        <div class="metallizedpapers info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Papel para envoltura de regalo.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Se puede laminar cualquier tipo de cartón de 10 hasta 28 puntos. El poliéster metalizado utilizado cuenta con tratamiento químico que garantiza una atención superficial de 44 dinas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Está hecho por un papel de 38g más polietileno más poliéster metalizado.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-papers.jpg">
          </div>
        </div>
        <div class="metallizedselfadhesive info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Su uso es para envases que están sometidos a la humedad o a la intemperie.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Poliéster utilizado con tratamiento químico y el holograma utilizados con tratamiento corona.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Están compuestas por papel couché o BOPP.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/metallized-selfadhesive.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
