{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Metalizados</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
        {% for metallized in metallizeds %}
          <a class="allproducts-scroll" href="#{{metallized.data}}">
            <li class="select-option allproducts-option {{metallized.active}}" data-section="{{metallized.data}}">
              <span>{{metallized.title}}</span>
            </li>
          </a>
        {% endfor %}
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Metalizados</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
        {% for metallized in metallizeds %}
          <a class="allproducts-scroll" href="#{{metallized.data}}">
            <li class="select-option allproducts-option {{metallized.active}}" data-section="{{metallized.data}}">
              <span>{{metallized.title}}</span>
            </li>
          </a>
          <div class="info-selected-option-container">
            <div class="{{metallized.data}} info-selected-option allproducts-content {{metallized.active}}" id="{{metallized.data}}">
              <div class="allproducts-info-container">
                <div class="allproducts-product-title-container">
                  <h2 class="allproducts-product-title">{{metallized.title}}</h2>
                </div>
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Características</h2>
                </div>
                {% for characteristic in metallized.characteristics %}
                <span class="allproducts-description">{{characteristic.characteristic}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Beneficios</h2>
                </div>
                {% for benefit in metallized.benefits %}
                <span class="allproducts-description">{{benefit.benefit}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Usos</h2>
                </div>
                {% for use in metallized.uses %}
                <span class="allproducts-description">{{use.use}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/metallizeds/{{metallized.image}}">
              </div>
            </div>
          </div>
        {% endfor %}
        </ul>
      </div>

      <div class="info-selected-option-container allproducts-desktop">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Metalizados</h1>
          <div class="red-decorator"></div>
        </div>
      {% for metallized in metallizeds %}
        <div class="{{metallized.data}} info-selected-option allproducts-content {{metallized.active}}" id="{{metallized.data}}">
          <div class="allproducts-info-container">
            <div class="allproducts-product-title-container">
              <h2 class="allproducts-product-title">{{metallized.title}}</h2>
            </div>
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Características</h2>
            </div>
            {% for characteristic in metallized.characteristics %}
            <span class="allproducts-description">{{characteristic.characteristic}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Beneficios</h2>
            </div>
            {% for benefit in metallized.benefits %}
            <span class="allproducts-description">{{benefit.benefit}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Usos</h2>
            </div>
            {% for use in metallized.uses %}
            <span class="allproducts-description">{{use.use}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/metallizeds/{{metallized.image}}">
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
