{% extends "partials/base.njk" %}

{% block meta %}
<title>Dimsa | Nosotros</title>
{% endblock %}

{% block content %}
<div class="about helvetica-neue-medium">
  <div class="about-materials">
    <div class="about-materials-info">
      <div class="about-materials-title-container">
        <h1 class="about-materials-title helvetica-neue-bold">Materiales y soluciones de empaque</h1>
        <div class="red-decorator"></div>
      </div>
      <div>
        <p class="site-paragraph">
          Distribuidora industrial mexicana se establece en la ciudad de México en el año de 1984. Iniciando operaciones como distribuidor de papel kraft, realizando todo tipo de cortes y conversiones a dicho papel. Con la importante participación en el mercado del empaque, desde 1990 se instala la primera laminadora por extrusión, con una capacidad mensual, de un millón y medio de m2. Lo que permite producir diversos materiales.
        </p>
        <p class="site-paragraph">
          Se adquiere más maquinaria, para cumplir con la demanda de dichos materiales y productos alcanzando una capacidad de 6, 000,000 de laminación mensual.
        </p>
      </div>
    </div>
    <div class="about-materials-background-container">
      <div class="about-materials-background animated"></div>
      <div class="about-materials-img-container">
        <img class="about-materials-img" src="img/about-us/about-us-1.jpg">
      </div>
    </div>
    <div class="about-materials-line">
      <div class="line-animated-container">
        <div class="line-animated"></div>
      </div>
    </div>
  </div>

  <div class="about-products">
    <div>
      <div class="about-us-carousel owl-carousel owl-theme">
        <div class="about-products-img carousel-img-1"></div>
        <div class="about-products-img carousel-img-2"></div>
        <div class="about-products-img carousel-img-3"></div>
      </div>
    </div>
    <div class="about-products-info">
      <p class="site-paragraph">
        Hoy en día Dimsa logra integrar diversos procesos con equipos de laminación por extrusión, impresoras de rotograbado y flexografía, hojeadoras, guillotinas, embobinadoras, empalmadoras, galleteras y suajadoras. De esta manera logra atender distintos mercados donde se requiere una alta especialización de empaques.
      </p>
      <p class="site-paragraph">
        Contamos con un equipo de trabajo altamente capacitado y avalados por una trayectoria de muchos años, que se encuentran en constante capacitación. Y con una infraestructura certificada con ISO 9000. Mediante un sistema de gestión de calidad, Dimsa asegura la calidad de todos sus productos y servicios.
      </p>
      <div class="about-products-button-container">
        <a href="productos.html">
          <button class="dimsa-button helvetica-neue-bold">conoce los productos</button>
        </a>
      </div>
    </div>
  </div>

  <div class="about-commitment">
    <div class="about-commitment-background animated"></div>
    <div class="about-commitment-info">
      <h3 class="red-subtitle helvetica-neue-bold">compromiso</h3>
      <div class="about-commitment-text-container">
        <p class="site-paragraph about-commitment-text">
          Comprometidos no solo con nuestros clientes directos, si no también con los consumidores finales de nuestros productos, en Dimsa nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque desarrollando nuevos productos a la medida de cada cliente.
        </p>
      </div>
      <div class="red-decorator"></div>
      <a href="contacto.html">
        <button class="dimsa-button helvetica-neue-bold">diseña tu empaque</button>
      </a>
    </div>
    <div>
      <img class="about-commitment-img" src="img/about-us/about-us-2.jpg">
    </div>
  </div>
</div>
{% endblock %}