{% extends "partials/base.njk" %}

{% block meta %}
<title>Nosotros</title>
{% endblock %}

{% block content %}
<div class="about helvetica-neue-medium">
  <div class="about-materials">
    <div class="about-materials-info">
      <div class="about-materials-title-container">
        <h1 class="about-materials-title helvetica-neue-bold">Materiales y soluciones de empaque</h1>
        <div class="red-decorator"></div>
      </div>
      <div>
        <p class="site-paragraph">
          Distribuidora Industrial Mexicana, S.A. se establece en la Ciudad de México en el año de 1984, iniciando operaciones como distribuidor de papel Kraft, realizando todo tipo de cortes y hojeados a dicho papel.
        </p>
        <p class="site-paragraph">
          En el año de 1990, como consecuencia de su importante participación en el mercado del empaque, se instala la primera laminadora por extrusión (extrusion coating) con una capacidad mensual de más de un millón y medio de metros cuadrados, lo que permite producir diversos materiales laminados con polietileno. En 1994 y 1998, se adquirieron la segunda y tercera laminadora con el fin de cumplir con la creciente demanda de dichos materiales y productos, alcanzando una capacidad de 6,000,000 de m2 de laminación mensual.
        </p>
      </div>
    </div>
    <div class="about-materials-background-container">
      <div class="about-materials-background animated"></div>
      <div class="about-materials-img-container">
        <img class="about-materials-img" src="img/about-us/about-us-1.jpg">
      </div>
    </div>
    <div class="about-materials-line">
      <div class="line-animated-container">
        <div class="line-animated"></div>
      </div>
    </div>
  </div>

  <div class="about-products">
    <div>
      <div class="about-us-carousel owl-carousel owl-theme">
        <div class="about-products-img carousel-img-1"></div>
        <div class="about-products-img carousel-img-2"></div>
        <div class="about-products-img carousel-img-3"></div>
      </div>
    </div>
    <div class="about-products-info">
      <p class="site-paragraph">
        Hoy, equipada con 3 laminadoras por extrusión, impresoras de rotograbado y flexografía, hojeadoras, guillotinas, entre muchas otras, DIMSA integra diversos procesos de transformación con el fin de satisfacer mercados que requieran empaques flexibles de alta calidad. El experimentado personal de la Empresa ha logrado perfeccionar técnicas y procesos basados en métodos científicos para ofrecer una amplia gama de soluciones de empaque, desarrolladas especialmente para satisfacer todos los requerimientos del cliente. DIMSA cuenta con un laboratorio de control de calidad equipado con diversos aparatos de medición y control, que garantizan la alta calidad de los productos que ofrece a sus clientes.
      </p>
      <div class="about-products-button-container">
        <a href="productos.html">
          <button class="dimsa-button helvetica-neue-bold">conoce los productos</button>
        </a>
      </div>
    </div>
  </div>

  <div class="about-commitment">
    <div class="about-commitment-background animated"></div>
    <div class="about-commitment-info">
      <h3 class="red-subtitle helvetica-neue-bold">compromiso</h3>
      <div class="about-commitment-text-container">
        <p class="site-paragraph about-commitment-text">
          Comprometidos no sólo con nuestros clientes directos, sino también con los consumidores finales de nuestros productos,  en DIMSA nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque, desarrollando nuevos productos a la medida de cada cliente.
        </p>
      </div>
      <div class="red-decorator"></div>
      <a href="contactanos.html">
        <button class="dimsa-button helvetica-neue-bold">diseña tu empaque</button>
      </a>
    </div>
    <div>
      <img class="about-commitment-img" src="img/about-us/about-us-2.jpg">
    </div>
  </div>
</div>
{% endblock %}