{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Papeles y películas laminadas</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
        {% for paper in papers %}
          <a class="allproducts-scroll" href="#{{paper.data}}">
            <li class="select-option allproducts-option {{paper.active}}" data-section="{{paper.data}}">
              <span>{{paper.title}}</span>
            </li>
          </a>
        {% endfor %}
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Papeles y películas laminadas</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
        {% for paper in papers %}
          <a class="allproducts-scroll" href="#{{paper.data}}">
            <li class="select-option allproducts-option {{paper.active}}" data-section="{{paper.data}}">
              <span>{{paper.title}}</span>
            </li>
          </a>
          <div class="info-selected-option-container">
            <div class="{{paper.data}} info-selected-option allproducts-content {{paper.active}}" id="{{paper.data}}">
              <div class="allproducts-info-container">
                <div class="allproducts-product-title-container">
                  <h2 class="allproducts-product-title">{{paper.title}}</h2>
                </div>
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle helvetica-neue-bold">Características</h2>
                </div>
                {% for characteristic in paper.characteristics %}
                <span class="allproducts-description">{{characteristic.characteristic}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Beneficios</h2>
                </div>
                {% for benefit in paper.benefits %}
                <span class="allproducts-description">{{benefit.benefit}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-info-container">
                <div class="allproducts-subtitle-container">
                  <h2 class="allproducts-subtitle">Usos</h2>
                </div>
                {% for use in paper.uses %}
                <span class="allproducts-description">{{use.use}}</span><br>
                {% endfor %}
              </div>
              <div class="allproducts-img-container">
                <img class="allproducts-img" src="img/allproducts/papers/{{paper.image}}">
              </div>
            </div>
          </div>
        {% endfor %}
        </ul>
      </div>

      <div class="info-selected-option-container allproducts-desktop">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Papeles y películas laminadas</h1>
          <div class="red-decorator"></div>
        </div>
      {% for paper in papers %}
        <div class="{{paper.data}} info-selected-option allproducts-content {{paper.active}}" id="{{paper.data}}">
          <div class="allproducts-info-container">
            <div class="allproducts-product-title-container">
              <h2 class="allproducts-product-title">{{paper.title}}</h2>
            </div>
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Características</h2>
            </div>
            {% for characteristic in paper.characteristics %}
            <span class="allproducts-description">{{characteristic.characteristic}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Beneficios</h2>
            </div>
            {% for benefit in paper.benefits %}
            <span class="allproducts-description">{{benefit.benefit}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Usos</h2>
            </div>
            {% for use in paper.uses %}
            <span class="allproducts-description">{{use.use}}</span><br>
            {% endfor %}
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/{{paper.image}}">
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
