{% extends "partials/base.njk" %}

{% block meta %}
  <title>Servicios</title>
{% endblock %}

{% block content %}
  <div class="helvetica-neue-medium">
    <div class="allproducts-container">
      <div class="allproducts-panel-container allproducts-desktop">
        <ul class="select-option-container allproducts-option-container helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="bond">
            <span>bond</span>
          </li>
          <li class="select-option allproducts-option" data-section="kraft">
            <span>kraft</span>
          </li>
          <li class="select-option allproducts-option" data-section="linner">
            <span>linner</span>
          </li>
          <li class="select-option allproducts-option" data-section="medium">
            <span>medium</span>
          </li>
          <li class="select-option allproducts-option" data-section="papercolour">
            <span>papeles de colores</span>
          </li>
          <li class="select-option allproducts-option" data-section="polibond">
            <span>polibond</span>
          </li>
          <li class="select-option allproducts-option" data-section="polikraft">
            <span>polikraft</span>
          </li>
          <li class="select-option allproducts-option" data-section="poliglassine">
            <span>poliglassine</span>
          </li>
          <li class="select-option allproducts-option" data-section="polilinner">
            <span>polilinner</span>
          </li>
          <li class="select-option allproducts-option" data-section="polipet">
            <span>polipet</span>
          </li>
        </ul>
      </div>

      <div class="allproducts-title-container allproducts-mobile">
        <h1 class="allproducts-title helvetica-neue-bold">Papeles y películas laminadas</h1>
        <div class="red-decorator"></div>
      </div>

      <div class="allproducts-panel-container allproducts-mobile">
        <ul class="select-option-container allproducts-option-container allproducts-carousel owl-carousel helvetica-neue-bold">
          <li class="select-option allproducts-option active" data-section="bond">
            <span>bond</span>
          </li>
          <li class="select-option allproducts-option" data-section="kraft">
            <span>kraft</span>
          </li>
          <li class="select-option allproducts-option" data-section="linner">
            <span>linner</span>
          </li>
          <li class="select-option allproducts-option" data-section="medium">
            <span>medium</span>
          </li>
          <li class="select-option allproducts-option" data-section="papercolour">
            <span>papeles de colores</span>
          </li>
          <li class="select-option allproducts-option" data-section="polibond">
            <span>polibond</span>
          </li>
          <li class="select-option allproducts-option" data-section="polikraft">
            <span>polikraft</span>
          </li>
          <li class="select-option allproducts-option" data-section="poliglassine">
            <span>poliglassine</span>
          </li>
          <li class="select-option allproducts-option" data-section="polilinner">
            <span>polilinner</span>
          </li>
          <li class="select-option allproducts-option" data-section="polipet">
            <span>polipet</span>
          </li>
        </ul>
      </div>

      <div class="info-selected-option-container">
        <div class="allproducts-title-container allproducts-desktop">
          <h1 class="allproducts-title helvetica-neue-bold">Papeles y películas laminadas</h1>
          <div class="red-decorator"></div>
        </div>
        <div class="bond info-selected-option allproducts-content active">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Papel para impresión, papel para empaque, plotter, laminación, impresión y corte.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, es imprimible, buena blancura, buena pacidad.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Desde 30grs hasta 120grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/paper-bond.jpg">
          </div>
        </div>
        <div class="kraft info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Utilizado para empaque, separadores, embalaje.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, material con encolado, resistente a la humedad se puede entregar en bobina u hojas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">desde 32 grs hasta 90 y 130 gr.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/paper-kraft.jpg">
          </div>
        </div>
        <div class="linner info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Separadores y divisores para circuitos electronicos.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, material con encolado, resistente a la humedad, se puede entregar en bobina u hojas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">desde 140 grs hasta 500 grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/paper-linner.jpg">
          </div>
        </div>
        <div class="medium info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Materiales para separadores.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Papel Nacional, se entrega en bobina u hoja.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">desde 100 grs hasta 700 grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/paper-medium.jpg">
          </div>
        </div>
        <div class="papercolour info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Escolar o de envolturas.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">colores uniformes.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">30-40 grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="">
          </div>
        </div>
        <div class="polibond info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Fabricación de estuchados ó bolsas para envasar equipo de curación o alimentos.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">30 a 120 grs y va laminado con una pelicula de polietileno de baja densidad LDPE laminado FDA y se puede corar en rollos de anchos y diameros diferentes.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/paper-polibond.jpg">
          </div>
        </div>
        <div class="polikraft info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Papel para empaque laminado 1 cara.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">30 a 90 y 130 grs grs y va laminado con una pelicula de polietileno de baja densidad LDPE laminado FDA y se puede corar en bobinas y hojas de diferentes tamaños.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="">
          </div>
        </div>
        <div class="poliglassine info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Fabricación de estuchados ó bolsas para envasar equipo de curación o alimentos.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">glassine de 40 grs con una pelicula de polietileno de 14 grs o con una pelicula de surley de 1 grs.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="">
          </div>
        </div>
        <div class="polilinner info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Separadores y divisores para latas de aceite o perfume.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">140 a 500 grs su laminacion es FDA puede ser desde 12 hasta 40 gramos el acabado del platico puede ser mate o brillante y se puede entregar en bobinas y hojas de diferentes medidas.</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="">
          </div>
        </div>
        <div class="polipet info-selected-option allproducts-content">
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle helvetica-neue-bold">Uso y aplicaciones</h2>
            </div>
            <span class="allproducts-description">Utilizado como empaque flexible, envasado de productos alimenticios, fabricación de bolsas de sellado hermético a calor y presión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Ventajas y beneficios</h2>
            </div>
            <span class="allproducts-description">Inocuidad, Barreras a la Humedad, termosellable, Barrera a la grasa material nacional. En el Polipet el poliester utilizado cuena con tratamiento quimico que garantiza una buena pintabilidad. Los materiales se pueden entregar con o sin impresión.</span>
          </div>
          <div class="allproducts-info-container">
            <div class="allproducts-subtitle-container">
              <h2 class="allproducts-subtitle">Características</h2>
            </div>
            <span class="allproducts-description">Constituido por una pelicula de poliester transparente de 23 micras con una pelicula de polietileno (FDA).</span>
          </div>
          <div class="allproducts-img-container">
            <img class="allproducts-img" src="img/allproducts/papers/paper-polipet.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
