{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Productos</title>
{% endblock %}

{% block content %}
<div class="products-container">
  <div>
    <h1 class="products-title helvetica-neue-bold">Productos</h1>
    <div class="red-decorator"></div>
  </div>
  <div class="products-cards-container helvetica-neue-bold">
    <a class="products-card-anchor" href="papeles.html">
      <div class="home-products-card papper products-modifier">
        <div>
          <img class="home-products-icon papper-i" src="img/icons/icon-papper.png">
        </div>
        <span class="home-products-category">papeles y películas<br>laminadas</span>
      </div>
    </a>
    <a class="products-card-anchor" href="empaques.html">
      <div class="home-products-card packing products-modifier">
        <div>
          <img class="home-products-icon packing-i" src="img/icons/icon-packing.png">
        </div>
        <span class="home-products-category">empaques<br>alimenticios</span>
      </div>
    </a>
    <a class="products-card-anchor" href="especialidades.html">
      <div class="home-products-card specialties products-modifier">
        <div>
          <img class="home-products-icon specialties-i" src="img/icons/icon-specialties.png">
        </div>
        <span class="home-products-category">especialidades</span>
      </div>
    </a>
    <a class="products-card-anchor" href="metalizados.html">
      <div class="home-products-card metallic products-modifier">
        <div>
          <img class="home-products-icon metallic-i" src="img/icons/icon-metallic.png">
        </div>
        <span class="home-products-category">metalizados</span>
      </div>
    </a>
    <a class="products-card-anchor" href="laminaciones.html">
      <div class="home-products-card aluminum products-modifier">
        <div>
          <img class="home-products-icon aluminum-i" src="img/icons/icon-aluminum.png">
        </div>
        <span class="home-products-category">laminaciones con<br>aluminio</span>
      </div>
    </a>
  </div>
</div>
{% endblock %}
