{% extends "partials/base.njk" %}

{% block meta %}
  <title>Servicios</title>
{% endblock %}

{% block content %}
  <div class="services helvetica-neue-medium">
    <div class="services-info">
      <div>
        <h1 class="services-title helvetica-neue-bold">Servicios</h1>
        <div class="red-decorator"></div>
      </div>
      <div class="services-description-container">
        <p class="services-description">
          Nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque, desarrollando nuevos productos a la medida de cada cliente.
        </p>
      </div>
    </div>
    <div class="show-option-container">
      <div class="services-option-desktop">
        <ul class="select-option-container helvetica-neue-bold">
          <li class="select-option lamination-opt" data-section="lamination">
            <span>Laminación</span>
          </li>
          <li class="select-option cut-opt" data-section="cut">
            <span>Corte</span>
          </li>
          <li class="select-option suaje-opt" data-section="suaje">
            <span>Suaje</span>
          </li>
          <li class="select-option splice-opt" data-section="splice">
            <span>Empalme</span>
          </li>
          <li class="select-option print-opt" data-section="print">
            <span>Impresión</span>
          </li>
        </ul>
      </div>
      <div class="services-option-mobile">
        <ul class="select-option-container services-carousel owl-carousel helvetica-neue-bold">
          <li class="select-option lamination-opt" data-section="lamination">
            <span>Laminación</span>
          </li>
          <li class="select-option cut-opt" data-section="cut">
            <span>Corte</span>
          </li>
          <li class="select-option suaje-opt" data-section="suaje">
            <span>Suaje</span>
          </li>
          <li class="select-option splice-opt" data-section="splice">
            <span>Empalme</span>
          </li>
          <li class="select-option print-opt" data-section="print">
            <span>Impresión</span>
          </li>
        </ul>
      </div>

      <div class="info-selected-option-container">
        <div class="lamination info-selected-option active">
          <div class="services-panel panel-top">
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Aplicación de polietileno por extrusión a diferentes papeles, telas, sustratos y películas plásticas.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Unión de dos o más papeles o sustratos.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Fabricación de estructuras sencillas y complejas.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Laminación de películas metalizadas y holográficas y foil de aluminio a cartones en diferentes calibres</span>
            </div>
          </div>
          <div class="services-panel-towers">
            <div class="services-panel tower-right">
              <div>
                <h3 class="services-panel-subtitle">Otros nombres del servicio</h3>
                <div>
                  <span class="services-panel-descriptions">Laminación, plastificado, laminación brillante, laminación mate, laminado brillante, laminado mate, empalme, recubrimiento.</span>
                </div>
              </div>
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Usos comunes</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Aplicación de polietileno o laminación a diferentes papeles y películas plásticas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Unión de dos o más papeles o sustratos.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Fabricación de estructuras sencillas y complejas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Laminación de películas metalizadas, holográficas y foil de aluminio.</span>
                </div>
              </div>
              <div>
                <h3 class="services-panel-subtitle">Usos especiales</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Laminación para empaque de productos grasos, productos congelados y refrigerados.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Laminación con diferentes aditivos: Deslizantes, antideslizantes, antimicrobiales, pigmentos (colores), polietileno – polipropileno.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Laminación una y dos caras.</span>
                </div>
              </div>
            </div>
            <div class="services-panel">
              <div>
                <h3 class="services-panel-subtitle">Beneficios</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Barrera a la humedad, a la grasa, a la luz, al oxigeno, a las condiciones ambientales.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Sello hermético con calor y presión.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Laminación de bobina a bobina en diferentes anchos.</span>
                </div>
              </div>
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Características del servicio</h3>
                <div class="services-panel-characteristics">
                  <span class="services-panel-descriptions">Ancho mínimo: <span>60 cms.</span></span>
                </div>
                <div class="services-panel-characteristics">
                  <span class="services-panel-descriptions">Ancho máximo: <span>160 cms.</span></span>
                </div>
                <div class="services-panel-characteristics">
                  <span class="services-panel-descriptions">Diámetro interior (core) de entrada: <span>de 3 a 12 pulgadas.</span></span>
                </div>
                <div class="services-panel-characteristics">
                  <span class="services-panel-descriptions">Diámetro interior (core) de salida: <span>3, 6 y 12 pulgadas.</span></span>
                </div>
                <div class="services-panel-characteristics">
                  <span class="services-panel-descriptions">Diámetro exterior de entrada: <span>150 cms.</span></span>
                </div>
                <div class="services-panel-characteristics">
                  <span class="services-panel-descriptions">Diámetro exterior de salida: <span>150 cms.</span></span>
                </div>
              </div>
              <div>
                <h3 class="services-panel-subtitle text-red">Ventajas con DIMSA</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Alta velocidad de respuesta.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Estricto control de inventarios.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Gran variedad de aplicaciones y desarrollo de productos especiales.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cut info-selected-option">
          <h1>Planes</h1>
          <div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="suaje info-selected-option">
          <h1>Pagos</h1>
          <div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="splice info-selected-option">
          <h1>Reservación y uso de espacios</h1>
          <div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="print info-selected-option">
          <h1>Pruebas</h1>
          <div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
