{% extends "partials/base.njk" %}

{% block meta %}
  <title>Dimsa | Servicios</title>
{% endblock %}

{% block content %}
  <div class="services helvetica-neue-medium">
    <div class="services-info">
      <div>
        <h1 class="services-title helvetica-neue-bold">Servicios</h1>
        <div class="red-decorator"></div>
      </div>
      <div class="services-description-container">
        <p class="services-description">
          Nos encontramos en una constante búsqueda de nuevas y mejores soluciones de empaque, desarrollando nuevos productos a la medida de cada cliente.
        </p>
      </div>
    </div>
    <div class="show-option-container">
      <div class="services-option-desktop">
        <ul class="select-option-container helvetica-neue-bold">
          <li class="select-option lamination-opt" data-section="lamination">
            <span>Laminación</span>
          </li>
          <li class="select-option cut-opt" data-section="cut">
            <span>Corte y rebobinado</span>
          </li>
          <li class="select-option suaje-opt" data-section="suaje">
            <span>Suaje</span>
          </li>
          <li class="select-option splice-opt" data-section="splice">
            <span>Empalme</span>
          </li>
          <li class="select-option print-opt" data-section="print">
            <span>Impresión</span>
          </li>
        </ul>
      </div>
      <div class="services-option-mobile">
        <ul class="select-option-container services-carousel owl-carousel helvetica-neue-bold">
          <li class="select-option lamination-opt" data-section="lamination">
            <span>Laminación</span>
          </li>
          <li class="select-option cut-opt" data-section="cut">
            <span>Corte y rebobinado</span>
          </li>
          <li class="select-option suaje-opt" data-section="suaje">
            <span>Suaje</span>
          </li>
          <li class="select-option splice-opt" data-section="splice">
            <span>Empalme</span>
          </li>
          <li class="select-option print-opt" data-section="print">
            <span>Impresión</span>
          </li>
        </ul>
      </div>

      <div class="info-selected-option-container">
        <div class="lamination info-selected-option active">
          <div class="services-panel panel-top">
            <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
            <span class="services-panel-descriptions">Este proceso es  utilizado para adherir dos  o más sustratos con polietileno.</span>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Aplicación de polietileno o laminación a diferentes papeles y películas plásticas.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Unión de dos papeles o sustratos.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Laminación para empaque de productos grasos, productos congelados y refrigerados.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Laminación con diferentes aditivos; deslizante, antideslizante, anti-microbiales, pigmentos (colores), polietileno- polipropileno.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Laminación una dos caras.</span>
            </div>
          </div>
          <div class="services-panel-towers">
            <div class="services-panel tower-right">
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Características del servicio</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Barrera  a la humedad a la grasa, a la luz, al oxígeno, a las condiciones ambientales.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Sello hermético  con calor y presión.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Laminación de bobina en  bobina en diferentes anchos.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho mínimo 60cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho máximo 158 cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core) de entrada de 3 a 12 pulgadas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core) de salida 3,6 y 12 pulgadas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro exterior de entrada 150 cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro exterior de salida 150 cm.</span>
                </div>
              </div>
            </div>
            <div class="services-panel">
              <div>
                <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Alta velocidad de respuesta.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Estricto control de inventarios.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Gran variedad de aplicaciones y desarrollo de productos especiales.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Servicio profesional, confiable, amplia experiencia en la transformación de diferentes sustratos y películas.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cut info-selected-option">
          <div class="services-panel panel-top">
            <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
            <span class="services-panel-descriptions">Proceso utilizado para hacer cortes en diferentes anchos a partir de una bobina maestra y que posteriormente se procesarán en bobinas nuevamente.</span>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Maquinas impresoras rotativas.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Para insertores en máquinas hojeadoras.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Corte y rebobinado de telas no tejidas, papel higiénico, películas de poliéster y polipropileno, y autoadheribles.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Rebobinado de papeles siniestrados, colapsados.</span>
            </div>
          </div>
          <div class="services-panel-towers">
            <div class="services-panel tower-right">
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Características del servicio</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Tolerancia del corte: +/- 1mm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho mínimo 11 mm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho máximo de entrada: 210 cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core) de entrada: de 3 a 12 pulgadas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core) de salida: 3, 6 y 12 pulgadas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro exterior de entrada: 170 cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro exterior de salida: 150 cm</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Papeles y cartoncillos  de 15 a 600 g/m2</span>
                </div>
              </div>
            </div>
            <div class="services-panel">
              <div>
                <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Servicio profesional, confiable y amplia experiencia en la transformación de diferentes sustratos y películas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Satisfacción con calidad, eficiencia y agilidad, acorde a la exigencia  de las necesidades específicas  del cliente.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Compromiso en recepción, manejo, almacenaje, proceso, empaque y entrega de materiales.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Embobinado uniforme.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Corte limpio.</span>
                </div>
              </div>
            </div>
          </div>
          <!--|||||||||||||||||Guillotinado||||||||||||||||-->
          <div class="services-panel-subsection">
            <h1 class="services-panel-subtitle subsection-title">Guillotinado</h1>
            <div class="services-panel panel-top">
              <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
              <span class="services-panel-descriptions">Este proceso es utilizado para hacer cortes de hojas en sentido longitudinal y transversal, en diferentes anchos y largos a partir de hojas que posteriormente utilizarán:</span>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Maquinas offset  de baja y alta velocidad de impresión, en diferentes formatos.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Maquinas fotocopiadoras de inyección  o láser.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Corte de películas  y sustratos metalizados.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Exactitud de corte.</span>
              </div>
            </div>
            <div class="services-panel-towers">
              <div class="services-panel tower-right">
                <div class="services-panel-sections">
                  <h3 class="services-panel-subtitle">Características del servicio</h3>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Exactitud de corte en sustratos descuadrados.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Tolerancia de corte : +/- 1mm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Ancho mínimo: 6 cm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Ancho máximo: 145 cm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Corte de varios sustratos, gramaje mínimo  56 gr gramaje máximo 712 gr.</span>
                  </div>
                </div>
              </div>
              <div class="services-panel">
                <div>
                  <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Servicio especial de corte  a papeles y películas de difícil manejo, como son cartones  y papeles metalizados, películas de polipropileno y de poliéster.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Corte limpio.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Hojas sin descuadre.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Alta velocidad de impresión.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--|||||||||||||||||||||Hojeado||||||||||||||||||||||||-->
           <div class="services-panel-subsection">
            <h1 class="services-panel-subtitle subsection-title">Hojeado</h1>
            <div class="services-panel panel-top">
              <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
              <span class="services-panel-descriptions">Este proceso es utilizado para hacer cortes en hojas de diferentes dimensiones a partir de una bobina maestra, y que  posteriormente se procesarán en:</span>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Maquinas impresoras.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Impresión en serigrafía.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Maquinas laminadoras por adhesivo y laminación térmica.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Para envoltura de papeles extensivos.</span>
              </div>
              <div class="services-panel-descriptions-container">
                <div class="services-panel-icon-container">
                  <img src="img/icons/check.png">
                </div>
                <span class="services-panel-descriptions">Separadores.</span>
              </div>
            </div>
            <div class="services-panel-towers">
              <div class="services-panel tower-right">
                <div class="services-panel-sections">
                  <h3 class="services-panel-subtitle">Características del servicio</h3>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Tolerancia de corte: +/- 1mm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Ancho mínimo: 50 cm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Ancho máximo de entrada: 150 cm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Diámetro interior (core) de entrada de 3 a 12 pulgadas.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Diámetro interior (core) de salida 3,6 y 12 pulgadas.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Diámetro exterior de entrada: 230cm.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Papeles y cartoncillos  de 60 a 600 g/m2.</span>
                  </div>
                </div>
              </div>
              <div class="services-panel">
                <div>
                  <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">Especialidad en corte  de materiales metalizados, tratamiento antiestático y papeles delgados.</span>
                  </div>
                  <div class="services-panel-descriptions-container">
                    <div class="services-panel-icon-container">
                      <img src="img/icons/check.png">
                    </div>
                    <span class="services-panel-descriptions">cortes precisos  que evitan el paso anterior  a guillotina.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="suaje info-selected-option">
          <div class="services-panel panel-top">
            <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
            <span class="services-panel-descriptions">Este proceso es utilizado  para cortar o doblar materiales blandos  y gruesos como papel  y cartón.<br>Se utiliza  una prensa llamada suajadora, la cual presiona el suaje contra el material y lo corta, dobla o marca.</span>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Servicio de suaje se utiliza  para formación de canastillas de diversos tamaños y diseños.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Se utiliza para formación de charolas.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Servicio de suaje para realizar  folders.</span>
            </div>
          </div>
          <div class="services-panel-towers">
            <div class="services-panel tower-right">
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Características del servicio</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Corte mínimo  de 12 puntos.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Corte máximo  hasta 28 puntos.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Los cartones más utilizados son liner, sbs, caples  y multicapas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Cartones laminados con polietileno.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Las charolas se manejan hasta 36 puntos.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Se pueden realizar impresión de corte y  a registro.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho máximo de una caja  96cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Largo máximo de una caja  54 cm.</span>
                </div>
              </div>
            </div>
            <div class="services-panel">
              <div>
                <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Los papeles que manejamos cumplen con lo establecido por la FDA, para empaques alimenticios.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Tenemos versatilidad en el uso de materias primas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Contamos con servicio de impresión.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Nuestro material es de bobina a suaje.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="splice info-selected-option">
          <div class="services-panel panel-top">
            <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Es la unión de dos sustratos que se adhieren con adhesivo o polietileno garantizando las propiedades requeridas.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Se empalman en hojas en las medidas que el cliente las requiera.</span>
            </div>
          </div>
          <div class="services-panel-towers">
            <div class="services-panel tower-right">
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Características del servicio</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Solo se entrega en hojas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Se pueden empalmar cartones gruesos  hasta 36 puntos, cartones corrugados, flautas doble.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Se pueden empalmar charolas pasteleras.</span>
                </div>
              </div>
            </div>
            <div class="services-panel">
              <div>
                <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Nosotros hacemos todo el proceso desde laminar la materia prima y entregar el producto terminado.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Contamos con cortes circulares y rectangulares.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Servicio profesional, confiable y amplia experiencia en la transformación  de diferentes sustratos.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="print info-selected-option">
          <div class="services-panel panel-top">
            <h3 class="services-panel-subtitle">Usos y aplicaciones</h3>
            <span class="services-panel-descriptions">Proceso para identificar y diferenciar los productos  mediante la reproducción de textos e imágenes.</span>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Método de impresión de sustratos varios para la industria en general.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Ideal para gráficos de empaque.</span>
            </div>
            <div class="services-panel-descriptions-container">
              <div class="services-panel-icon-container">
                <img src="img/icons/check.png">
              </div>
              <span class="services-panel-descriptions">Impresión de colores sobre sustratos metálicos y holográficos con acabados brillantes o mates.</span>
            </div>
          </div>
          <div class="services-panel-towers">
            <div class="services-panel tower-right">
              <div class="services-panel-sections">
                <h3 class="services-panel-subtitle">Características del servicio</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">La impresión puede ser por sistema de rotograbado o flexografía.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho mínimo: 30cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho máximo de 160 cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ancho mínimo 60cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core) de entrada de 3 a 12 pulgadas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core)  de salida de 3, 6 y 12 pulgadas</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro interior (core) de salida 3,6 y 12 pulgadas.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro exterior de entrada 150 cm.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Diámetro exterior de salida de 30 a 150 cm.</span>
                </div>
              </div>
            </div>
            <div class="services-panel">
              <div>
                <h3 class="services-panel-subtitle">Ventajas y beneficios</h3>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Podemos imprimir en una gran variedad de sustratos, aplicar colores metálicos o mates.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Los productos se pueden entregar en bobina o en hoja, en diferentes dimensiones e impresos  desde uno a seis colores.</span>
                </div>
                <div class="services-panel-descriptions-container">
                  <div class="services-panel-icon-container">
                    <img src="img/icons/check.png">
                  </div>
                  <span class="services-panel-descriptions">Ofrecemos el mejor servicio en cuanto al tono que el cliente requiere.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
