<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://dim-sa.com.mx/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DIMSA | Materiales de Empaque" />
    <meta property="og:description" content="Elaboramos empaques especializados y diseñados a la medida para distintos sectores de la industria Alimenticia, farmacéutica, automotriz, construcción, gráfica, entre otras. Somos fabricantes e integramos distintos procesos de transformación de papeles, cartones, películas. Te invitamos a que nos dejes desarrollar la mejor opción para tu negocio." />
    <meta property="og:image" content="http://dim-sa.com.mx/img/backgrounds/home-carousel-1.jpg" />
    <meta property="og:image:width" content="3000" />
    <meta property="og:image:height" content="4000" />
    <meta name="keywords" content="soluciones, empaque, papeles, películas laminadas, metalizados, soluciones, encerados, envolturas, cajas, filtros, cartulinas">
    <meta name="description" content="Elaboramos empaques especializados y diseñados a la medida para distintos sectores de la industria Alimenticia, farmacéutica, automotriz, construcción, gráfica, entre otras. Somos fabricantes e integramos distintos procesos de transformación de papeles, cartones, películas. Te invitamos a que nos dejes desarrollar la mejor opción para tu negocio." />
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/dimsa-favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/dimsa-favicon.png" type="image/ico"/>
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
