<footer class="site-footer">
  <a href="index.html">
    <span>Homepage</span>
  </a>
  <a href="nosotros.html">
    <span>Nosotros</span>
  </a>
  <a href="servicios.html">
    <span>Servicios</span>
  </a>
  <a href="categorias.html">
    <span>Categorías</span>
  </a>
  <a href="contacto.html">
    <span>Contacto</span>
  </a>
</footer>
