<footer class="site-footer">
  <div class="site-footer-go-top">
    <div class="line-animated-container">
      <div class="line-animated"></div>
    </div>
    <a href="#top">
      <span class="home-view-more-text view-more-white helvetica-neue-bold">subir</span>
    </a>
  </div>
  <div class=" show-hide">
    <div class="site-footer-row-section helvetica-neue-medium">
      <div>
        <a href="index.html">
          <img class="site-footer-logo" src="img/logos/dimsa-white.png">
        </a>
      </div>
      <div class="site-footer-row-descript">
        <span>Horario de atención<br>De 9:00 am a 6:00 pm</span>
        <span><a href="https://goo.gl/maps/RoPX4roCkkG2" target="_blank">Lebrija 151, Col.<br>Cerro de la estrella CP 09860<br>Del. Iztapalapa</a></span>
        <span>Tel: 542. 652. 08<br> <a href="mailto: informes@dim-sa.com.mx">informes@dim-sa.com.mx</a><br><a href="https://www.facebook.com/DIMSA-176436996437469/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></span>
      </div>
    </div>
  </div>
  <div class="site-footer-row-section hide-show helvetica-neue-medium">
    <div class="site-footer-row-descript">
      <a href="index.html">
        <img class="site-footer-logo" src="img/logos/dimsa-white.png">
      </a>
      <span>Horario de atención<br>De 9:00 am a 6:00 pm</span>
    </div>
    <div class="site-footer-row-descript">
      <span>Lebrija 151, Col.<br>Cerro de la estrella CP 09860<br>Del. Iztapalapa</span>
      <span>Tel: 542. 652. 08<br> <a href="mailto: informes@dim-sa.com.mx">informes@dim-sa.com.mx</a><br><a href="https://www.facebook.com/DIMSA-176436996437469/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></span>
    </div>
  </div>
  <div class="site-footer-divider"></div>
  <div class="site-footer-row-section helvetica-neue-bold">
    <div class="site-footer-cr-container">
      <span>© 2018, Dimsa</span>
    </div>
    <div class="site-footer-row-descript">
      <a class="site-footer-link {% if section == 'nosotros' %} footer-active {% endif %}" href="nosotros.html">
        <span>Nosotros</span>
      </a>
      <a class="site-footer-link {% if section == 'servicios' %} footer-active {% endif %}" href="servicios.html">
        <span>Servicios</span>
      </a>
      <a class="site-footer-link {% if section == 'productos' or section == 'especialidades' or section == 'papeles' or section == 'laminaciones' or section == 'metalizados' or section == 'empaques' %} footer-active {% endif %}" href="productos.html">
        <span>Productos</span>
      </a>
      <a class="site-footer-link {% if section == 'contacto' %} footer-active {% endif %}" href="contacto.html">
        <span>Contacto</span>
      </a>
    </div>
  </div>
</footer>
