<nav class="site-navbar helvetica-neue-bold">
  <div>
    <a href="index.html">
      <img class="site-navbar-logo" src="img/logos/dimsa-grey.png" alt="Logo">
    </a>
  </div>
  <div class="navbar-option-link-container">
    <a href="index.html" class="navbar-option-link {% if section == 'index' %} active-link {% endif %}">
      <span>Inicio</span>
      <div class="link-decorator {% if section == 'index' %} decorator-active {% endif %}"></div>
    </a>
    <a href="nosotros.html" class="navbar-option-link {% if section == 'nosotros' %} active-link {% endif %}">
      <span>Nosotros</span>
      <div class="link-decorator {% if section == 'nosotros' %} decorator-active {% endif %}"></div>
    </a>
    <a href="servicios.html" class="navbar-option-link {% if section == 'servicios' %} active-link {% endif %}">
      <span>Servicios</span>
      <div class="link-decorator {% if section == 'servicios' %} decorator-active {% endif %}"></div>
    </a>
    <div class="dropdown navbar-option-link {% if section == 'productos' or section == 'especialidades' or section == 'papeles' or section == 'laminaciones' or section == 'metalizados' or section == 'empaques' %} active-link {% endif %}">
      <span onclick="myFunction()" class="dropbtn">Productos</span>
      <div class="down-triangle-container">
        <img class="down-triangle" src="img/icons/down-triangle.png">
      </div>
      <div class="link-decorator {% if section == 'productos' or section == 'especialidades' or section == 'papeles' or section == 'laminaciones' or section == 'metalizados' or section == 'empaques' %} decorator-active {% endif %}"></div>
      <div id="myDropdown" class="dropdown-content">
        <a href="productos.html" class="{% if section == 'productos' %} active-dropdown {% endif %}">Ver todos</a>
        <a href="especialidades.html" class="{% if section == 'especialidades' %} active-dropdown {% endif %}">Especialidades</a>
        <a href="papeles.html" class="{% if section == 'papeles' %} active-dropdown {% endif %}">Papeles y películas laminados</a>
        <a href="laminaciones.html" class="{% if section == 'laminaciones' %} active-dropdown {% endif %}">Laminaciones con aluminio</a>
        <a href="metalizados.html" class="{% if section == 'metalizados' %} active-dropdown {% endif %}">Metalizados</a>
        <a href="empaques.html" class="{% if section == 'empaques' %} active-dropdown {% endif %}">Empaques alimenticios</a>
      </div>
    </div>

    <a href="contacto.html" class="navbar-option-link {% if section == 'contacto' %} active-link {% endif %}">
      <span>Contacto</span>
      <div class="link-decorator {% if section == 'contacto' %} decorator-active {% endif %}"></div>
    </a>
  </div>
  <div data-attribute="" class="navbar-hamburguer-visibility"  id="hamburgerMenu">
    <div class="navbar-hamburguer" data-attribute="">
      <div class="align-content-hamburguer" data-attribute="">
        <div class="line-hamburguer-base line-hamburguer-lg" data-attribute=""></div>
        <div class="line-hamburguer-base line-hamburguer-lg margin-vertical-4px" data-attribute=""></div>
        <div class="line-hamburguer-base line-hamburguer-md" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="" data-attribute="">
          <img class="hamburger-logo" src="img/logos/dimsa-white.png" data-attribute="" alt="logo hamburger">
        </a>
      </div>
      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png">
      </div>
    </div>
    <div class="hamburger-menu-body" data-attribute="">
      <div class="hamburger-text-container" data-attribute="">
        <a data-attribute="" href="index.html" class="hamburger-option-link">
          <span class="hamburger-text">Inicio</span>
          <div class="link-decorator {% if section == 'index' %} decorator-active {% endif %}"></div>
        </a>
      </div>
      <div class="hamburger-text-container" data-attribute="">
        <a data-attribute="" href="nosotros.html" class="hamburger-option-link">
          <span class="hamburger-text">Nosotros</span>
          <div class="link-decorator {% if section == 'nosotros' %} decorator-active {% endif %}"></div>
        </a>
      </div>
      <div class="hamburger-text-container" data-attribute="">
        <a data-attribute="" href="servicios.html" class="hamburger-option-link">
          <span class="hamburger-text">Servicios</span>
          <div class="link-decorator {% if section == 'servicios' %} decorator-active {% endif %}"></div>
        </a>
      </div>
      <div href="productos.html" class="hamburger-option-link">
        <div data-attribute="" class="hamburger-text-container hamburger-dropdown-container dropdown {% if section == 'productos' or section == 'especialidades' or section == 'papeles' or section == 'laminaciones' or section == 'metalizados' or section == 'empaques' %} active-link {% endif %}">
          <span data-attribute="" onclick="hamburgerDropDown()" class="dropbtn">Productos</span>
          <div class="down-triangle-container">
            <img class="down-triangle" src="img/icons/down-triangle-white.png">
          </div>
          <div class="link-decorator {% if section == 'productos' or section == 'especialidades' or section == 'papeles' or section == 'laminaciones' or section == 'metalizados' or section == 'empaques' %} decorator-active {% endif %}"></div>
          <div id="hambugerDropdown" class="dropdown-content">
            <a href="productos.html" class="{% if section == 'productos' %} active-dropdown {% endif %}">Ver todos</a>
            <a href="especialidades.html" class="{% if section == 'especialidades' %} active-dropdown {% endif %}">Especialidades</a>
            <a href="papeles.html" class="{% if section == 'papeles' %} active-dropdown {% endif %}">Papeles y películas laminados</a>
            <a href="laminaciones.html" class="{% if section == 'laminaciones' %} active-dropdown {% endif %}">Laminaciones con aluminio</a>
            <a href="metalizados.html" class="{% if section == 'metalizados' %} active-dropdown {% endif %}">Metalizados</a>
            <a href="empaques.html" class="{% if section == 'empaques' %} active-dropdown {% endif %}">Empaques alimenticios</a>
          </div>
        </div>
      </div>
      <div class="hamburger-text-container" data-attribute="">
        <a data-attribute="" href="contacto.html" class="hamburger-option-link">
          <span class="hamburger-text">Contacto</span>
          <div class="link-decorator {% if section == 'contacto' %} decorator-active {% endif %}"></div>
        </a>
      </div>
    </div>
  </div>
</nav>
