*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')
  min-height 100%
  position relative

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-size inherit
  margin 153px 0 372px 0

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

h1, h2, h3, h4, h5, h6, p
  margin 0

a
  &, &:focus, &:hover, &:active
    text-decoration none
    outline none

a
  outline 0

#page
  margin 0
  overflow hidden
  padding 0

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  font-family inherit

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

// Site styles

.site-container
  margin 40px 0

.site-title
  text-align center

.red-subtitle
  color $dRedText
  font-size $font13
  letter-spacing 1.9px
  line-height 29px
  text-transform uppercase

.red-decorator
  background-color $dRedText
  height 3px
  margin 20px 0 42px 0
  width 28px

.site-paragraph
  color $dGrayText
  font-size font16
  letter-spacing 1.2px
  line-height 29px

.flex-row
  flex-row()

.dimsa-button
  background-color $dRedButton
  border none
  border-radius 100px
  color $dWhite
  cursor pointer
  font-size $font12
  height 42px
  letter-spacing 1.8px
  padding 0 39px
  text-transform uppercase
  transition background-color 0.5s

  &:hover
    background-color #7e0000
    transition background-color 0.5s

.view-more-white
  background-color #9e2828
  color $dWhite !important
  font-size remify(11px) !important
  padding 7px

@import 'partials/navbar'

@import 'partials/footer'

@-webkit-keyframes pulse
  from
    -webkit-transform scale3d(1, 1, 1)
    transform scale3d(1, 1, 1)

  50%
    -webkit-transform scale3d(1.2, 1.2, 1.2)
    transform scale3d(1.2, 1.2, 1.2)

  to
    -webkit-transform scale3d(1, 1, 1)
    transform scale3d(1, 1, 1)

@keyframes pulse
  from
    -webkit-transform scale3d(1, 1, 1)
    transform scale3d(1, 1, 1)

  50%
    -webkit-transform scale3d(1.2, 1.2, 1.2)
    transform scale3d(1.2, 1.2, 1.2)

  to
    -webkit-transform scale3d(1, 1, 1)
    transform scale3d(1, 1, 1)

.pulse
  -webkit-animation-name pulse
  animation-name pulse
  animation-iteration-count 1
  animation-duration 3s !important
  //animation-delay 2s

@-webkit-keyframes fadeInDown
  from
    opacity 0
    -webkit-transform translate3d(0, -50%, 0)
    transform translate3d(0, -50%, 0)

  to
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

@keyframes fadeInDown
  from
    opacity 0
    -webkit-transform translate3d(0, -25%, 0)
    transform translate3d(0, -25%, 0)

  to
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

.fadeInDown
  -webkit-animation-name fadeInDown
  animation-name fadeInDown
  -webkit-animation-duration 3s
  animation-duration 3s

@-webkit-keyframes fadeInDownBig
  from
    opacity 0
    -webkit-transform translate3d(0, -2000px, 0)
    transform translate3d(0, -2000px, 0)

  to
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

.animated
  -webkit-animation-duration 2.5s
  animation-duration 2.5s
  -webkit-animation-fill-mode both
  animation-fill-mode both

.animated.infinite
  -webkit-animation-iteration-count infinite
  animation-iteration-count infinite

.animated.flip
  -webkit-backface-visibility visible
  backface-visibility visible
  -webkit-animation-name flip
  animation-name flip

.show-hide
  display block

.hide-show
  display none

@media screen and (max-width 786px)
  body
    margin-top 56px

  .show-hide
    display none

  .hide-show
    display block

  .dimsa-button
    padding 0 25px
