@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Bold.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Medium.svg#Roboto-Light') format('svg');
  font-weight: $medium;
  font-style: normal;
}

.helvetica-neue-bold
  font-family 'HelveticaNeue'
  font-weight $bold
  font-style normal

.helvetica-neue-medium
  font-family 'HelveticaNeue'
  font-weight $medium
  font-style normal
