// COLORS
$errorColor = #ff3636
$successColor = #149a14

$dGrayBackg = #f2f2f2
$dGrayInfo = #dcdcdc
$dGrayNav = #9f9f9f
$dGraySelect = #6e6e6e
$dGrayText = #6d6d6d
$dRedText = #9e2828
$dRedButton = #b43838
$dWhite = #fff

// Base font-size
$baseFontSize = 16

$font10 = remify(10px)
$font12 = remify(12px)
$font13 = remify(13px)
$font14 = remify(14px)
$font16 = remify(16px)
$font20 = remify(20px)
$font21 = remify(21px)
$font35 = remify(35px)
$font45 = remify(45px)

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black